.header {
  min-height: 100vh;
  width: 100%;
  background: url(../img/bg.png) no-repeat center / cover;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__top {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  position: relative;
}
.header__logo {
  width: 28px;
  height: 28px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.header-menu {
  width: 80%;
}
.header-menu__list {
  display: flex;
  justify-content: flex-end;
}
.header-menu__list > *:not(:last-child) {
  margin: 0 45px 0 0;
}
.header-menu__item {
  font-size: 20px;
  line-height: 140%;
  color: #c9c9c9;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  padding: 10px 0;
  &:hover {
    color: #ececec;
  }
  &:hover::after {
    width: 100%;
  }
}
.header-menu__item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  border-radius: 15px;
  background-color: rgba(116, 75, 206, 0.6);
  transition: all 0.4s ease;
}
.header__burger {
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: none;
  span {
    display: block;
    background-color: #c9c9c9;
    height: 2px;
    border-radius: 8px 0 0 8px;
    transition: all 0.3s ease;
  }
}
span:first-child {
  width: 100%;
}
span:nth-child(2) {
  width: 60%;
  margin: 7px 0;
}
span:nth-child(3) {
  width: 80%;
}

.header__main {
  max-width: 753px;
  padding: 16px 0;
  position: relative;
}
.header__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0 0 27px 0;
  opacity: 0;
  animation: opacity 4s ease 3s forwards;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__subtitle {
  height: 202px;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  margin: 0 0 54px 0;
}
.header__button {
  background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  padding: 16px 0;
  width: 209px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 2px;
  a {
    font-size: 18px;
    font-weight: 900;
    line-height: 144%;
    color: #ffffff;
  }
  &:hover {
    animation: letter 1s ease infinite;
  }
}
@keyframes letter {
  0% {
    letter-spacing: 2px;
    opacity: 1;
  }
  50% {
    letter-spacing: 4px;
    opacity: 0.8;
  }
  100% {
    letter-spacing: 2px;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    background-color: rgb(23, 42, 66);
    z-index: 1000;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .header-menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu__item {
    padding: 15px 30px;
    margin: 0 !important;
    a {
      color: #ffffff;
    }
  }
  .header__burger {
    display: flex;
    position: fixed;
    right: 15px;
    transition: all 0.5s ease;
    &.active span {
      width: 100%;
      transition: all 0.3s ease;
    }
  }
  .header__burger.active {
    span:first-child {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
