@import './reset.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';
@import './header.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}
